<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uplus.ojorise.mapper.MyPlanMapper">
    <resultMap id="PlanResultMap" type="com.uplus.ojorise.domain.Plan">
        <result property="name" column="name" />
        <result property="telecomProvider" column="telecom_provider"/>
        <result property="baseDataGb" column="base_data_gb" />
        <result property="eligibility" column="eligibility" />
        <result property="sharingDataGb" column="sharing_data_gb" />
        <result property="monthlyFee" column="monthly_fee" />
        <result property="voiceCallPrice" column="voice_call_price" />
        <result property="sms" column="sms" />
        <result property="benefit" column="benefit" />
        <result property="throttleSpeedKbps" column="throttle_speed_kbps" />
        <result property="mobileType" column="mobile_type" />
    </resultMap>

    <resultMap id="MyPlanResultMap" type="com.uplus.ojorise.domain.MyPlan">
        <result property="planName" column="plan_name" />
        <result property="telecomProvider" column="telecom_provider" />
    </resultMap>

    <select id="findMyPlanById" resultMap="MyPlanResultMap">
        SELECT telecom_provider, plan_name from survey
        WHERE id = #{id}
    </select>

    <select id="findMyPlanByName" resultMap="PlanResultMap">
        SELECT telecom_provider, name, monthly_fee, base_data_gb, sharing_data_gb, voice_call_price, sms, throttle_speed_kbps, eligibility, mobile_type, benefit  from plan
        WHERE name = #{planName} AND telecom_provider = #{telecomProvider}
    </select>
</mapper>
