<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uplus.ojorise.mapper.PlanAgeMapper">

    <select id="getResult" resultType="com.uplus.ojorise.domain.PlanAge">
        SELECT plan_age_result AS planAgeResult
        FROM planage
        WHERE id = #{id}
            LIMIT 1
    </select>

    <insert id="insertPlanAge" parameterType="com.uplus.ojorise.domain.PlanAge">
        INSERT INTO planage(
                            id, age
        ) VALUES (
                  #{id}, #{planAgeResult}
                         )
        ON DUPLICATE KEY UPDATE
            age = #{age}
    </insert>
</mapper>
