<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uplus.ojorise.mapper.SurveyMapper">

    <insert id="insertSurvey" parameterType="com.uplus.ojorise.domain.Survey">
        INSERT INTO survey (
            id, birthdate, telecom_provider, plan_name, plan_price, family_bundle, family_num
        ) VALUES (
                     #{id}, #{birthdate}, #{telecomProvider}, #{planName}, #{planPrice}, #{familyBundle}, #{familyNum}
                 )
    </insert>

    <select id="findByTelecomProvider" resultType="com.uplus.ojorise.domain.Plan">
        SELECT plan_id AS planId, name
        FROM plan
        WHERE telecom_provider = #{telecomProvider}
    </select>

    <select id="getSurvey" resultType="com.uplus.ojorise.domain.Survey">
        SELECT birthdate,
               telecom_provider AS telecomProvider,
               plan_name AS planName,
               plan_price AS planPrice,
               family_bundle AS familyBundle,
               family_num AS familyNum
        FROM survey
        WHERE id = #{id}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <update id="updateSurvey" parameterType="com.uplus.ojorise.domain.Survey">
        UPDATE survey
        SET birthdate = #{birthdate},
            telecom_provider = #{telecomProvider},
            plan_name = #{planName},
            plan_price = #{planPrice},
            family_bundle = #{familyBundle},
            family_num = #{familyNum}
        WHERE id = #{id}
        ORDER BY created_at DESC
        LIMIT 1
    </update>
</mapper>
