<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uplus.ojorise.mapper.SurveyMapper">

    <insert id="insertSurvey" parameterType="com.uplus.ojorise.domain.Survey">
        INSERT INTO survey (
        id, birthdate, telecom_provider, plan_name, plan_price, family_bundle, family_num
        ) VALUES (
        #{id}, #{birthdate}, #{telecomProvider}, #{planName}, #{planPrice}, #{familyBundle}, #{familyNum}
        )
        ON DUPLICATE KEY UPDATE
        birthdate = VALUES(birthdate),
        telecom_provider = VALUES(telecom_provider),
        plan_name = VALUES(plan_name),
        plan_price = VALUES(plan_price),
        family_bundle = VALUES(family_bundle),
        family_num = VALUES(family_num)
    </insert>

    <select id="findByTelecomProvider" resultType="com.uplus.ojorise.domain.Plan">
        SELECT plan_id AS planId, name
        FROM plan
        WHERE telecom_provider = #{telecomProvider}
    </select>

</mapper>
