<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uplus.ojorise.mapper.SurveyMapper">

    <insert id="insertSurvey" parameterType="com.uplus.ojorise.domain.Survey">
        INSERT INTO survey (
            id, birthdate, telecom_provider, plan_name, contract_term, family_bundle
        ) VALUES (
                     #{id}, #{birthdate}, #{telecomProvider}, #{planName}, #{contractTerm}, #{familyBundle}
                 )
    </insert>

</mapper>
