<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uplus.ojorise.mapper.TongBTIMapper">

    <select id="getResult" resultType="com.uplus.ojorise.domain.TongBTI">
        SELECT t.tong_id AS tongId,
               t.tong_name AS tongName,
               t.plan_id AS planId
        FROM tongbtiresult r
                 JOIN tongbti t ON r.tong_id = t.tong_id
        WHERE r.id = #{id}
            LIMIT 1
    </select>

    <!-- findTongIdByName -->
    <select id="findTongIdByName" resultType="long">
        SELECT tong_id FROM tongbti WHERE tong_name = #{tongName}
    </select>

    <!-- insertTongBTIResult -->
    <insert id="insertTongBTIResult">
        INSERT INTO tongbtiresult (id, tong_id)
        VALUES (#{userId}, #{tongId})
    </insert>

    <select id="findTongBTIWithPlan" resultType="com.uplus.ojorise.dto.TongBTIPlanResponse">
        SELECT
            t.tong_id AS tongId,
            t.tong_name AS tongName,
            t.description AS tongDescription,
            p.plan_id AS planId,
            p.name AS planName,
            p.base_data_gb AS baseDataGb,
            p.daily_data_gb AS dailyDataGb,
            p.sharing_data_gb AS sharingDataGb,
            p.monthly_fee AS monthlyFee,
            p.voice_call_price AS voiceCallPrice,
            p.sms AS sms,
            p.throttle_speed_kbps AS throttleSpeedKbps,
            p.eligibility AS eligibility,
            p.mobile_type AS mobileType,
            p.is_online AS isOnline,
            p.plan_url AS planUrl,
            p.telecom_provider AS telecomProvider,
            p.description AS planDescription
        FROM tongbti t
                 JOIN plan p ON t.plan_id = p.plan_id
        WHERE t.tong_name = #{tongName}
            LIMIT 1
    </select>

</mapper>
