<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uplus.ojorise.mapper.TongBTIMapper">

    <select id="getResult" resultType="com.uplus.ojorise.domain.TongBTI">
        SELECT tong_result AS tongResult
        FROM tongBTI
        WHERE id = #{id}
            LIMIT 1
    </select>

</mapper>
